
.home-body
{
    background-color: rgb(28, 28, 28);
    font-family: 'Josefin Slab', serif;
}

.home-button /*O botão de home*/
  {
    font-size: 30px;
    color: #F2B63C;
    text-decoration: none;
    margin-right: 5vh;
    font-size: 18px;
  }

.home-container
{
  display: flex;
  flex-direction: row;
}

.home-container-1
{
  width: 50vw;
  height: auto;
  margin: 0px;
  margin-top: 8vw;
}

.home-container-2
{
  width: 50vw;
  height: auto;
}

.photo-home
{
  width: 32vw;
  margin-top: 5vw;
  margin-left: 2vw;
  border: 5px solid #254172;
  border-radius: 100px;
  box-shadow: 2px 4px 8px rgba(173, 173, 173, 0.5);
  
  clip-path: url(#ondaCacheada);
}