
.portfolio-body
{
    background-color: rgb(28, 28, 28);
    font-family: 'Josefin Slab', serif;
}

.portfolio-button /*O botão de home*/
  {
    font-size: 30px;
    color: #F2B63C;
    text-decoration: none;
    margin-right: 5vh;
    font-size: 18px;
  }