
/* ------------------------------------------------ Body -------------------------------------------- */

.contato-body
  {
    background-image: url(../img/fundo-contato.png);
    font-family: 'Josefin Slab', serif;
  }

html, body
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* ------------------------------------------------ Fontes, tamanhos e cores -------------------------------------------- */

@font-face 
  {
    font-family: 'Josefin Slab';
    src: url('fonts/JosefinSlab-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face 
  {
    font-family: 'Josefin Slab Bold';
    src: url('fonts/JosefinSlab-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

.h1-contato
  {
    color: #ffffff;
    font-size: 40px;
  }

/* ------------------------------------------------ Style Geral -------------------------------------------- */

header 
  {
    background-color: #282828;
    width: 610px; /* igual à box-contato */
    height: auto;
    position: fixed;
    right: 0px; /* igual à box-contato */
    top: 0px;
    
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    border-left: solid 3px;
    border-color: #ffffff;
  }

nav ul
  {  
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

/* ------------------------------------------------ Botões do header -------------------------------------------- */

.home-button /*O botão de home*/
  {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
  }

.portfolio-button /*O botão de portfólio*/
  {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
  }


.contato-button /*O botão de home*/
  {
    color: #F2B63C;
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;
  }

  /* ------------------------------------------------ Box de contato -------------------------------------------- */

.box-contato 
{
  background-color: #282828;
  width: 610px;
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 80px;
  border-left: solid 3px;
  border-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
}

.label 
{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
  color: #ffffff;
}

.input-contato /* Style dos input nome e email */
{
  width: 25vw;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #d6a034;
  transition: transform 0.3s ease;
}

.input-contato:hover
{
  transform: scale(1.01);
}

.mensagem-input-contato /* Style do input de mensagem */
{
  width: 25vw;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #d6a034;
  transition: transform 0.3s ease;
}

.mensagem-input-contato:hover
{
  transform: scale(1.01);
}

.submit-btn /*Botão de enviar mensagem na tela de contato*/
{
  width: 15vw;
  height: 45px;
  border-radius: 10px;
  font-family: 'Josefin Slab Bold', serif;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid #d6a034;
  transition: transform 0.3s ease;
}

.submit-btn:hover
{
  transform: scale(1.01);
}

/* ------------------------------------------------ Boxes de redes sociais -------------------------------------------- */

.redes-sociais-pai
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.insta-icon
{
  width: 50px;
  transition: transform 0.5s ease;
}

.insta-icon:hover
{
  transform: scale(1.05);
}

.whatsapp-icon
{
  width: 44px;
  margin-left: 2vw;
  margin-right: 2vw;
  transition: transform 0.5s ease;
}

.whatsapp-icon:hover
{
  transform: scale(1.05);
}

.linkedin-icon
{
  width: 50px;
  transition: transform 0.5s ease;
}

.linkedin-icon:hover
{
  transform: scale(1.05);
}